<ion-pane cache-view="false">
	<ion-content scroll="false" id="content" style="text-align: center" has-bouncing="false">
  		<div drawer hm-panend="onRaised()" hm-panmove="onDrag($event)">
		</div>
		<div id="cont">
			<svg version="1.1" baseProfile="basic" id="svg" x="0px" y="0px" width="595.3px" read-svg height="420.7px" viewBox="0 0 595.3 420.7" xml:space="preserve">			
			</svg>
		</div>
		<img style="position: absolute; top:8%; right: 16%;" on-tap="backMenu()" src="img/fleche.svg"/>
	</ion-content>
</ion-pane>